<div id="blockPage" class="block-page" (click)="closeModal('questionModal')"></div>

<div id="questionModal" class="custom-modal">
  <div class="close-modal" (click)="closeModal('questionModal')">
  </div>
  <div class="question-sentence">
    <h2>{{questionToShow.sentence}}</h2>
  </div>
  <hr>
  <div class="question-option" *ngFor="let option of questionToShow.options">
    <p (click)="selectAnswer($event)" class="option-select">{{option.text}}</p>
  </div>
  <div class="modal-actions">
    <button type="button" (click)="submitAnswer()">Submit</button>
  </div>
  <div *ngIf="displayAlert" class="alert">
    <p>Wrong answer, {{chances}} chances left</p>
  </div>
</div>

<div id="gameOverModal" class="custom-modal">
  <div class="close-modal" (click)="closeModal('gameOverModal')">
  </div>
  <div class="status-container" [ngClass]="{'winner': winner, 'loser': !winner}" >
  </div>
  <div *ngIf="winner" class="text-status">
    <h1>YOU WIN!!!</h1>
  </div>
  <div *ngIf="!winner" class="text-status">
      <h1>YOU LOSE!!!</h1>
    </div>
  <div class="modal-actions center" *ngIf="winner">
    <button type="button" (click)="resetGame()">OK</button>
  </div>
  <div class="modal-actions center">
      <button type="button" (click)="resetGame()" *ngIf="!winner">Try Again</button>
    </div>
</div>

<div class="tictac-container">
  <div class="tictac-cell" *ngFor="let cell of tictacBoard" id={{cell.square}}
    [ngClass]="{'question-mark': cell.icon === null, 'good-answer': cell.icon === 'o', 'bad-answer': cell.icon === 'x'}"
    (click)="clickCell($event)"></div>
</div>
